@use '/src/styles/theme/color' as c;

.container {
  width: 95%;
  margin: auto;
  .imageWrapper {
    width: 300px;
    padding: 50px;
    .image {
      width: 300px;
      object-fit: contain;
      margin: 0 20px;
    }
  }
  .textWrapper {
    text-align: center;
    .title {
      font-size: 3em;
    }
    .subTitle {
      font-size: 2em;
    }
    .visionWrapper {
      margin-top: 50px;
      width: 100%;
      text-align: center;
      .top {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
      }
      .main {
        width: 100%;
        font-size: 1em;
        margin-top: 30px;
      }
    }

    .exampleContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 250px;
      padding: 0;
      list-style: none;

      .zoomButton {
        all: unset;
        list-style: none;
        padding: 0;
        width: 30%;
        height: 250px;
        text-align: center;
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;
      }
      .zoomButtonBackground {
        object-fit: cover;
        width: 100%;
      }

      .zoomButton:hover .zoomButtonBackground,
      .zoomButton:focus .zoomButtonBackground {
        transition: all 0.5s;
        transform: scale(1.05);
      }
    }
  }
}
