@use '/src/styles/theme/color' as c;
@use '/src/styles/mixins/fonts' as f;

.container {
  width: 90%;
  margin: auto;

  .wrapper {
    text-align: center;
    height: 90vh;
    position: relative;
    padding-top: 20%;
    &.color {
      background-color: c.$C_GREY;
      z-index: -2;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: -1;
    }
    .title {
      font-size: 5em;
      scroll-snap-align: start;
      @include f.F_Bold;
    }
    .subTitle {
      font-size: 2em;
      @include f.F_Medium;
    }
    .top {
      margin: 30px 0;
      font-size: 1.5em;
      @include f.F_Medium;
    }
    .main {
      margin: 30px 0;
      font-size: 1em;
      @include f.F_Light;
      &.large {
        font-size: 1.2em;
      }
    }
  }
}
