@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  src: url('/public/static/fonts/GmarketSansLight.otf') format('otf');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  src: url('/public/static/fonts/GmarketSansMedium.otf') format('otf');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  src: url('/public/static/fonts/GmarketSansBold.otf') format('otf');
}
