@use '/src/styles/theme/color' as c;
@use '/src/styles/mixins/fonts' as f;
@use '/src/styles/mixins/responsive' as r;

.text {
  font-size: 3em;
  @include f.F_Bold;
  @include r.between(S, SD) {
    font-size: 1.5em;
  }
}
.imageContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: auto;

  .card {
    width: 300px;
    @include r.responsiveOnly(SD) {
      width: 200px;
    }
    object-fit: contain;
    @include r.between(S, SD) {
      width: 120px;
    }
  }
  .cardBack {
    width: 150px;
    object-fit: contain;
    .isFocused {
      width: 300px;
    }
  }
}
