@use '/src/styles/theme/color' as c;
@use '/src/styles/mixins/fonts' as f;

.text {
  font-size: 3em;
  @include f.F_Bold;
}
.imageContainer {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: auto;

  .card {
    width: 300px;
    object-fit: contain;
  }
  .cardBack {
    width: 150px;
    object-fit: contain;
    .isFocused {
      width: 300px;
    }
  }
}
