@use '/src/styles/theme/color' as c;
@use '/src/styles/mixins/fonts' as f;
@use '/src/styles/mixins/responsive' as r;

.container {
  padding-top: 150px;
  width: 90%;
  margin: auto;

  @include r.between(SD, MD) {
    padding-top: 80px;
  }

  @include r.before(SD) {
    padding-top: 30px;
  }

  .wrapper {
    text-align: center;
    align-items: center;

    .title {
      font-size: 3em;
      text-align: center;

      @include f.F_Bold;

      @include r.between(SD, MD) {
        font-size: 2.8em;
      }

      @include r.before(SD) {
        font-size: 1.4em;
      }
    }

    .cardContainer {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      @include r.before(MD) {
        display: block;
      }
    }
  }
}
