@use '/src/styles/mixins/responsive' as r;

.slick {
  width: calc(100vw - 70px);
  margin: auto;

  .imageWrapper {
    width: 300px;
    padding: 50px;

    .image {
      width: 300px;
      object-fit: contain;
      margin: 0 20px;

      @include r.responsiveOnly(SD) {
        width: 150px;
      }

      @include r.between(S, SD) {
        width: 80px;
      }

      @include r.before(S) {
        width: 60px;
      }
    }
  }
}
