// Namaing Convention
// $C -> color
// $F -> font size
// $S -> size ( width, height 등 )
// constant의 경우 대문자로 작성해 주세요.

$C_POINT: #4295f2;
$C_MAIN: #232323;
$C_SUB: #474747;
$C_LIGHT_BLUE: #50d2f9;
$C_POINT_PINK: #ffcbcb;
$C_DARKER_GREEN: #3bc1b7;
$C_GREEN: #32bfa6;
$C_DARKER_GREY: #666;
$C_FOOTER_GREY: #aaa;
$C_RANKING_GREY: #999999;
$C_THEAD_GREY: #555555;
$C_GREY: #f8f8f8;
$C_WHITE: #fff;
