@use '/src/styles/mixins/responsive' as r;

.zoomButton {
  width: 30%;
  height: 350px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @include r.before(SD) {
    width: 90%;
    height: 200px;
    margin: auto;
  }
}

.zoomButtonBackground {
  object-fit: cover;
  height: 100%;
}

.zoomButton:hover .zoomButtonBackground,
.zoomButton:focus .zoomButtonBackground {
  transition: all 0.5s;
  transform: scale(1.05);
}
