.zoomButton {
  all: unset;
  list-style: none;
  padding: 0;
  width: 30%;
  height: 350px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoomButtonBackground {
  object-fit: cover;
  height: 100%;
}

.zoomButton:hover .zoomButtonBackground,
.zoomButton:focus .zoomButtonBackground {
  transition: all 0.5s;
  transform: scale(1.05);
}
